@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  color: white;
}

body {
  background-color: white;

  width: 100%;
  height: 100vh;

  padding: 10rem;
}

:focus {
  outline: 1px solid rgba(120, 120, 120, 0.407);
  border: 0;
}

button:focus {
  outline: none;
}
